PAGE_SIZE=100

UPDATE_PERIOD=1

PG_DB_NAME=database
PG_DB_USER=user
PG_DB_PASSWORD=123qwe
PG_DB_HOST=db
PG_DB_PORT=5432

ES_HOST=elasticsearch
ES_PORT=9200
ES_INDEX=movies
ES_SCHEMA_FILE=es_schema.txt